@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#home {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.3fr 1fr;
  grid-template-rows: repeat(10, minmax(50px, auto));
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  grid-gap: 5px;
  grid-template-areas:
    'nav header header header header header'
    'nav main main main main aside'
    'nav main main main main aside'
    'nav main main main main aside'
    'nav main main main main aside'
    'nav main main main main aside'
    'nav main main main main aside'
    'nav main main main main aside'
    'nav main main main main aside';
}

#home > * {
  background: #bbd3dd;
  padding: 30px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  display: grid;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

section {
  grid-area: section;
}
